<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Pacote de ícones -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Logo na aba do navegador -->
	<link rel="shotcut icon" href="../../imagens/logo/logo_wig.png">
	
	<title>STUDENT SPACE</title>
</head>
<body>
	<!-- Menu - Barra de navegação -->
	<div th:replace="~{fragments/menu :: menu}"></div>
	
	<!-- Menu mobile -->
	<div th:replace="~{fragments/menu :: mobile}"></div>

	<div class="container">
		<h1>Detalhes do Curso</h1>

		<p th:if="${mensagemS}" th:text="${mensagemS}" class="green-text"></p>
		<p th:if="${mensagemR}" th:text="${mensagemR}" class="red-text"></p>

		<div class="row">
	    	<div class="col s12">
	      		<div class="card blue darken-4">
	        		<div class="card-content white-text">
	          			<span class="card-title">Curso</span>
	          			<p><strong>Id: </strong><span th:text="${curso.id}">1</span></p>
	          			<p><strong>Nome: </strong><span th:text="${curso.nome}">Curso de teste</span></p>
	          			<p><strong>Descrição: </strong><span th:text="${curso.descricao}">Testando detalhes</span></p>
	          			<p><strong>Data: </strong><span th:text="${curso.data}">27/05/2023</span></p>
	          			<p><strong>Valor: </strong><span th:text="${curso.valor} + ' R$'">60,00R$</span></p>
	        		</div>
	       	 		<div class="card-action">
	          			<a href="#">This is a link</a>
	         			<a href="#">This is a link</a>
	        		</div>
	      		</div>
			</div>
		</div>
		
		<div class="row">
	    	<div class="col s12">
	      		<div class="card blue darken-4">
	        		<div class="card-content white-text">
	          			<span class="card-title">Conteúdo</span>
	          			<table class="highlight">
							<thead>
								<tr>
									<th>Id</th>
									<th>Título</th>
									<th>Descrição</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="ct : ${conteudos}">
									<td th:text="${ct.id}">1</td>
									<td th:text="${ct.titulo}">Aula 1</td>
									<td th:text="${ct.descricao}">Qualquer coisa</td>
									<td>
										<a th:href="@{/cursos/lista/{idCurso}/conteudos/{idConteudo}/selecionar(idCurso=${curso.id}, idConteudo=${ct.id})}"><i class="material-icons" style="color: #ffab40">edit</i></a>
										<a th:href="@{/cursos/lista/{idCurso}/conteudos/{idConteudo}/remover(idCurso=${curso.id}, idConteudo=${ct.id})}"><i class="material-icons" style="color: #ffab40">delete</i></a>
									</td>
								</tr>
							</tbody>
						</table>
	        		</div>
	      		</div>
			</div>
		</div>
		
		<div class="row">
	    	<div class="col s12">
	      		<div class="card blue darken-4">
	        		<div class="card-content white-text">
	          			<span class="card-title">Adicionar Conteúdo:</span>
	          			<form th:action="@{/cursos/lista/{idCurso}(idCurso=${curso.id})}" method="post" th:object="${conteudo}">
	          				<div>
								<input type="hidden" th:field="*{id}" readonly="readonly">
							</div>
							<div>
								<label class="grey-text text-lighten-5">Título: </label> <input type="text" th:field="*{titulo}" class="grey-text text-lighten-2" placeholder="Digite o título do conteúdo">
								<p th:errors="*{titulo}" class="red-text"></p>
							</div>
							<div>
								<label class="grey-text text-lighten-5">Descrição: </label> <input type="text" th:field="*{descricao}" class="grey-text text-lighten-2" placeholder="Do que se trata esse conteúdo?">
								<p th:errors="*{descricao}" class="red-text"></p>
							</div>
							<div>
								<button class="waves-effect waves-light btn" type="submit">Salvar</button>
								<button class="waves-effect waves-light btn" type="reset">Limpar</button>
							</div>
						</form>
	        		</div>
	      		</div>
			</div>
		</div>
	</div>
	
	<br>
	<br>
	<br>
	
	<!-- Footer - Rodapé do site -->
	<div th:replace="~{fragments/footer :: footer}"></div>
	
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
	<!-- Arquivos JavaScript -->
	<script src="../../js/menu.js"></script>
</body>
</html>